<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="left-image-container col-xs-6 big-one">
                            <img class="" src="img/shaokan.jpg" alt="">
                        </div>
                        <div class="right-image-container col-xs-6 two-in-row">
                            <img style="margin-bottom: 9px;" src="img/scorpion.jpg" alt="">
                            <img src="img/melhorpersonagem.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="left-image-container col-xs-6">
                            <img class="img-responsive" src="img/predador.jpg" alt="">
                        </div>
                        <div class="right-image-container col-xs-6">
                            <img class="img-responsive" src="img/jason.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>

        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
