<section id="{{include.type}}app" class="shelf" ng-controller="{{include.type}}Controller">
    <div class="container">
        <h3 class="text-center"><strong>[[title]]</strong></h3>
        <div class="rectangle center-block">

        </div>
        <div class="card-box">

            <div class="card-error" id="card-error" ng-show="cardError">
                <div class="container">
                    <h2 class="text-center">Não foi possível carregar os produtos :(</h2>
                </div>
            </div>

            <div class="card" ng-repeat="card in cards">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="center-block">
                            <a href="[[card.productUrl]]">
                                <img ng-src="img/[[card.productImagerl]]" alt="[[cand.productName]]" />
                            </a>
                        </div>
                        <div class="desc-container text-left">
                            <h4 class="price pull-right text-right">
                                <small>R$</small>
                                <strong>[[card.productPrice / 100 | currency: ""]]</strong>
                            </h4>
                            <a href="[[card.productUrl]]">
                                <h4><strong>[[card.productName]]</strong></h4>
                            </a>
                            <p><small>[[card.productEspecification]]</small></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
