body{
    background-color: $background-color;
    font-family: $base-font-family;
    color: $text-color;
}
header {
    background-color: #FFF;
    .navbar {
        margin-bottom: 0px;
    }

    .navbar-brand {
        padding: 10px 15px;
    }

    .nav.nav-tabs > li.dropdown.active.open > a,
    .nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
    .nav.nav-tabs > li.dropdown.open > a,
    .nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover
    {
      color: #fff;
      background-color: $brand-color !important;
    }
    .navbar-nav li a {
        color: $text-color !important;

        &:hover, &:focus, &:active {
            color: #fff !important;
            background-color: $brand-color !important;
        }

    }
    .dropdown-menu {
        background-color: $brand-color;
        border: none;
        box-shadow: none;
        padding-bottom: 15px;
        @include border-radius(0)
    }
    .main-search {
        input, button {
            border: none !important;
            @include border-radius(0px);
            &:focus,&:hover,&:active {
                @include remove-outline();
            }
        }
        input {
            background-color: $grey-color;
            border-color: $grey-color !important;
            margin-right: -10px;
            min-width: 270px;

        }
        button {
            padding: 8px 25px 7px 25px;
            background-color: $brand-color !important;
            color: #FFF !important;
        }

    }
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{
        top:0;
        left:100%;
        margin-top:-5px;
        margin-left:-1px;
    }
    .dropdown-submenu:hover>.dropdown-menu{
        display:block;
    }
    .dropdown-submenu>a:after{
        display:block;
        float:right;
        width:0;
        height:0;
        margin-top:5px;
        margin-right:-10px;
    }
    .dropdown-submenu.pull-left{
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu{
        left:-100%;
        margin-left:10px;
    }
}
.carousel {
    .item img {
        width: 100%;
    }
    .left-image-container {
        padding-right: 5px !important;
    }
    .right-image-container {
        padding-left: 5px !important;
    }
    .carousel-control {
        background-repeat: no-repeat;
        background-position: center;
    }
    .carousel-control.left {
        background-image: url('../img/chevron-left.png');
    }
    .carousel-control.right {
        background-image: url('../img/chevron-right.png');
    }
}
section {
    margin: 50px auto;
    .rectangle {
        background-color: $grey-color-darker;
        height: 10px;
        width: 50px;
    }
    .card-box {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-flow: center;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .desc-container {

        a {
            color: $text-color;
            text-decoration: none;
            &:hover, &:visited {
                color: $text-color;
                text-decoration: none;

            }
        }
        h4 {
            margin-bottom: 0px;

        }
        p small {
            color: $grey-color-dark;
        }
        .price {
            strong {
                color: $green-color;
            }
        }
    }
}
